/* header.css */

.site-header{
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 210px);
    max-width: 1320px;
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
    background-color: #ffffff;
}


.logo{
    margin: 0;               /* remove a margem padrão do h1 */
    display: flex;
    align-items: center;     /* alinha verticalmente a logo com o header */
    gap: 0.5rem;             /* opcional: pequeno espaçamento interno */
}

.logo img{
    height: 48px;
    display: block;          /* evita gap de baseline em imagens inline */
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a{
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover,
.nav-right a:hover{
    color: #7c3aed;
}

.nav-right ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-toggle{
    display: none;
}

.menu-icon{
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 1001;
}

.menu-icon img{
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover{
    opacity: 0.7;
}

@media (max-width: 1280px){
    .site-header{
        width: calc(100% - 40px);
    }

    .menu-icon{
        display: block;
    }

    .nav-container{
        position: fixed;
        top:0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color:#ffffff;
        gap: 2rem;
        transition: right 0.3s ease;
        align-items: flex-start;
    }

    .nav-center, .nav-right{
		width: 100%;
		display: flex;
        justify-content: center;
	}


	.nav-center ul, .nav-right ul{
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

    .nav-center ul li, .nav-right ul li{
		width: 100%;
		text-align: center;
	}

    .nav-center a, .nav-right a{
		width: 100%;
		border-bottom: 1px solid #eeeeee;
		padding: 0.3rem 0;
		font-size: 1rem;
		display: block;
	}

	.menu-toggle:checked ~ .nav-container{
		right: 0;
	} 
}